<!doctype html>
<html lang="en">
    <head>
        <title>Image Manipulator</title>
    </head>
<body style = 'text-align: center; font-family: Calibri'>
    <div class="container">
        <h1>Welcome</h1>
        <br>
        <p>
            To use our filters, upload your image below.
        </p>

        <a href = "{{ url_for('upload_image', filter = 'grayscale' )}}">
            <button>
                Grayscale Filter
            </button>
        </a>

        <a href = "{{ url_for('upload_image', filter = 'negative' )}}">
            <button>
                Negative Filter
            </button>
        </a>

        <a href = "{{ url_for('upload_image', filter = 'sepia' )}}">
            <button>
                Sepia Filter
            </button>
        </a>

        <a href = "{{ url_for('upload_image', filter = 'weather' )}}">
            <button>
                Weather Filter
            </button>
        </a>

        <a href = "{{ url_for('upload_image', filter = 'scale' )}}">
            <button>
                Re-Sizing Image
            </button>
        </a>

        <a href = "{{ url_for('upload_image', filter = 'ASCII')}}"> 
            <button>
                Ascii Art
            </button>
        </a>
    </div>
</body>
</html>